ABCEdServicesTest/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EnrollService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ABCEnrollmentServiceWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEnrollService_InsertStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudent" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_InsertStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_InsertCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCourse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_InsertCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_ViewStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewStudents" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_ViewStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_ViewCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewCourses" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_ViewCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_Enroll_InputMessage">
    <wsdl:part name="parameters" element="tns:Enroll" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_Enroll_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnrollResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_GetEnrollmentsForStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrollmentsForStudent" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_GetEnrollmentsForStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrollmentsForStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_GetStudentsEnrolledInCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsEnrolledInCourse" />
  </wsdl:message>
  <wsdl:message name="IEnrollService_GetStudentsEnrolledInCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsEnrolledInCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="IEnrollService">
    <wsdl:operation name="InsertStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/InsertStudent" message="tns:IEnrollService_InsertStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/InsertStudentResponse" message="tns:IEnrollService_InsertStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/InsertCourse" message="tns:IEnrollService_InsertCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/InsertCourseResponse" message="tns:IEnrollService_InsertCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/ViewStudents" message="tns:IEnrollService_ViewStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/ViewStudentsResponse" message="tns:IEnrollService_ViewStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/ViewCourses" message="tns:IEnrollService_ViewCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/ViewCoursesResponse" message="tns:IEnrollService_ViewCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enroll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/Enroll" message="tns:IEnrollService_Enroll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/EnrollResponse" message="tns:IEnrollService_Enroll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrollmentsForStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/GetEnrollmentsForStudent" message="tns:IEnrollService_GetEnrollmentsForStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/GetEnrollmentsForStudentResponse" message="tns:IEnrollService_GetEnrollmentsForStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsEnrolledInCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnrollService/GetStudentsEnrolledInCourse" message="tns:IEnrollService_GetStudentsEnrolledInCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnrollService/GetStudentsEnrolledInCourseResponse" message="tns:IEnrollService_GetStudentsEnrolledInCourse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEnrollService" type="tns:IEnrollService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertStudent">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/InsertStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCourse">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/InsertCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewStudents">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/ViewStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCourses">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/ViewCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enroll">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/Enroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrollmentsForStudent">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/GetEnrollmentsForStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsEnrolledInCourse">
      <soap:operation soapAction="http://tempuri.org/IEnrollService/GetStudentsEnrolledInCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnrollService">
    <wsdl:port name="BasicHttpBinding_IEnrollService" binding="tns:BasicHttpBinding_IEnrollService">
      <soap:address location="http://localhost:8733/ABCEnrollmentServiceWCF/EnrollService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>