ABC Ed Services/Connected Services/EnrollServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ABCEnrollmentServiceWCF.Model" />
  <xs:element name="InsertStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEnrolled" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCourseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ABCEnrollmentServiceWCF.Model" minOccurs="0" name="ViewStudentsResult" nillable="true" type="q1:ArrayOfStudentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ABCEnrollmentServiceWCF.Model" minOccurs="0" name="ViewCoursesResult" nillable="true" type="q2:ArrayOfCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Enroll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnrollResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrollmentsForStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrollmentsForStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ABCEnrollmentServiceWCF.Model" minOccurs="0" name="GetEnrollmentsForStudentResult" nillable="true" type="q3:ArrayOfCourseVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsEnrolledInCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsEnrolledInCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ABCEnrollmentServiceWCF.Model" minOccurs="0" name="GetStudentsEnrolledInCourseResult" nillable="true" type="q4:ArrayOfStudentVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>